DB_URL=postgresql+psycopg2://postgres:TON_MOT_DE_PASSE@db:5432/bioprocess_db

# Configuration des alertes Email (CFR 21 Part 11)
EMAIL_SENDER=ton_email@gmail.com
EMAIL_PASSWORD=ton_mot_de_passe_application
EMAIL_RECEIVER=email_destinataire@gmail.com